html,body{
    height: 150vh;
    width: 100vh;
    padding:0;
    margin:0;
    background-color: #A6D1CB;
}

.logo{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    position:absolute;
    top: 5%;

}
.title{
    display:inline-flex; 
    flex-direction:row;
    justify-content: center;
    align-items:center;
    position:absolute;
    left:30%;  
}

.title h2{
    font-family:"Livvic";
    font-size: 200%;
    font-weight: 800;
    color: #238188;
    flex-shrink: 0;
}

.navbar{
    background-color: #f0746c;
    opacity: 0.9;   
    padding: 0.5rem 1rem;
    position:absolute; 
    top:15%;
    left:10%;
    min-width:80%;
    min-height: fit-content;
    box-sizing: border-box;
    border-radius: 40px;
}

.nav-list{
    display: flex; 
    flex-wrap: nowrap;
    gap: 2rem;
    list-style: none;
    margin-left: 10%;
    padding: 0 0.05rem;;
    align-items: space-evenly;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: "Albert sans";
    font-size:100%
}

li::after{
    text-decoration:none; 
    color:white;
}
li:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
}

@media (max-width:768px){
    .navbar{
        position:absolute;
        top:10%;
        left:15%;
        width:150%;
        margin-top: 2rem;
    }
    .nav-list{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .title{
        left:60%;
    }
    .title h2{
        font-size: 200%;
    }
}
